_create/
wp-content/updraft/
wp-config.php
.htaccess
wp-content/plugins/elementor
wp-content/plugins/elementor-pro
wp-content/uploads
wp-content/cache
wp-content/ewww/
wp-content/wflogs/
wp-content/wp-rocket-config