.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.sidebar_input_bg_color {
  background-color: #ffffff !important;
}
.wpps_bar .wpps_mobile_icon.sidebar_temp {
  margin: 0 auto;
  color: #555555;
}
.wpps_bar .wpps_mobile_icon.sidebar_temp * {
  color: #555555;
  width: 25px !important;
  height: 25px !important;
}
.wpps_sidebar_container {
  width: calc( 100% - 0px - 0px - 2px );
  margin: 0px 0px 10px 0px;
  float: none;
  border: 1px solid #cdcdcd !important;
  border-radius: 4px 4px 4px 4px !important;
  -moz-border-radius: 4px 4px 4px 4px !important;
  -webkit-border-radius: 4px 4px 4px 4px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.wpps_sidebar_container.wpps_container_active {
  border-color: #febd69 !important;
}
.wpps_sidebar_container .wpps_nav_scope {
  background-color: #f3f3f3;
  border-left: none;
  border-right: 1px solid #cdcdcd !important;
}
.wpps_sidebar_container .wpps_nav_scope .wpps_nav_facade_label {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #777777 !important;
}
.wpps_sidebar_container .wpps_nav_scope .wpps_nav_down_icon {
  font-size: 12px;
  color: #555555;
}
.wpps_sidebar_container .wpps_nav_scope .wpps_nav_down_icon * {
  color: #555555;
}
.wpps_sidebar_container .wpps_nav_submit {
  background-color: #febd69;
  border-right: none;
  border-left: none !important;
}
.wpps_sidebar_container .wpps_nav_submit:hover {
  background-color: #f3a847;
}
.wpps_sidebar_container .wpps_nav_submit:hover .wpps_nav_submit_icon,
.wpps_sidebar_container .wpps_nav_submit:hover .wpps_nav_submit_icon * {
  color: #ffffff;
}
.wpps_sidebar_container .wpps_nav_submit .wpps_nav_submit_icon {
  color: #555555;
}
.wpps_sidebar_container .wpps_nav_submit .wpps_nav_submit_icon svg {
  width: 16px;
  height: 16px;
}
.wpps_sidebar_container .wpps_nav_submit .wpps_nav_submit_icon * {
  color: #555555;
}
.wpps_sidebar_container .wpps_nav_field {
  background-color: #ffffff !important;
}
.wpps_sidebar_container .wpps_nav_field .wpps_search_keyword {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #111111 !important;
  padding: 6px 10px !important;
}
.wpps_sidebar_container .wpps_nav_field .wpps_searching_icon {
  width: 16px;
  fill: #555555;
}
.wpps_sidebar_container .wpps_nav_field svg.wpps_searching_icon * {
  color: #555555;
}
.wpps_container.wpps_sidebar_container .wpps_nav_left,
.wpps_container.wpps_sidebar_container .wpps_nav_right,
.wpps_container.wpps_sidebar_container .wpps_nav_fill,
.wpps_container.wpps_sidebar_container .wpps_nav_scope,
.wpps_container.wpps_sidebar_container .wpps_nav_submit,
.wpps_container.wpps_sidebar_container .wpps_nav_field,
.wpps_container.wpps_sidebar_container .wpps_search_keyword {
  height: 35px !important;
}
.wpps_container.wpps_sidebar_container .wpps_nav_facade_label,
.wpps_container.wpps_sidebar_container .wpps_nav_down_icon,
.wpps_container.wpps_sidebar_container .wpps_category_selector,
.wpps_container.wpps_sidebar_container .wpps_nav_submit_icon,
.wpps_container.wpps_sidebar_container .wpps_searching_icon {
  line-height: 35px !important;
}
.predictive_results.predictive_results_sidebar {
  border: 1px solid #c2c2c2 !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
.predictive_results.predictive_results_sidebar .ajax_search_content_title {
  padding: 3px 10px;
  background-color: #f2f2f2;
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
  border-bottom: none !important;
}
.predictive_results.predictive_results_sidebar .ajax_search_content {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-bottom: none !important;
}
.predictive_results.predictive_results_sidebar .result_row {
  margin-top: 6px;
  margin-bottom: 6px;
}
.predictive_results.predictive_results_sidebar .rs_avatar {
  width: 64px;
}
.predictive_results.predictive_results_sidebar .rs_content_popup {
  width: calc( 100% - 74px ) !important;
}
.predictive_results.predictive_results_sidebar .rs_content_popup .rs_name {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #3b5998 !important;
}
.predictive_results.predictive_results_sidebar .rs_content_popup .rs_description {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.predictive_results.predictive_results_sidebar .rs_content_popup .rs_cat,
.predictive_results.predictive_results_sidebar .rs_content_popup .rs_cat > a {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.predictive_results.predictive_results_sidebar .rs_content_popup .rs_cat {
  color: #000000 !important;
}
.predictive_results.predictive_results_sidebar .more_result {
  padding: 3px 10px;
  background-color: #f2f2f2;
}
.predictive_results.predictive_results_sidebar .more_result span {
  font: bold 10px/1.4em Arial, sans-serif !important;
  color: #999999 !important;
}
.predictive_results.predictive_results_sidebar .more_result a {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #3b5998 !important;
}
.predictive_results.predictive_results_sidebar .more_result .see_more_arrow {
  color: #3b5998 !important;
}
.predictive_results.predictive_results_sidebar .more_result .see_more_arrow svg {
  width: 12px !important;
  height: 12px !important;
}
.predictive_results.predictive_results_sidebar .ac_over .ajax_search_content {
  background-color: #6d84b4;
  border-color: #6d84b4 !important;
}
.predictive_results.predictive_results_sidebar .ac_over .rs_name {
  color: #ffffff !important;
}
.predictive_results.predictive_results_sidebar .ac_over .rs_description {
  color: #ffffff !important;
}
.predictive_results.predictive_results_sidebar .ac_over .rs_cat {
  color: #ffffff !important;
}
.predictive_results.predictive_results_sidebar .ac_over .rs_cat > a {
  color: #ffffff !important;
}
.predictive_results.predictive_results_sidebar .ps_close {
  width: 20px;
  height: 20px;
  margin: 2px 10px 2px 0px;
}
.predictive_results.predictive_results_sidebar .ps_close svg {
  fill: #ff0606;
}
@media only screen and (max-width: 420px) {
  .wpps_sidebar_container {
    width: calc( 100% - 10px - 10px - 2px );
    margin: 10px 10px 10px 10px;
  }
}
.header_input_bg_color {
  background-color: #ffffff !important;
}
.wpps_bar .wpps_mobile_icon.header_temp {
  margin: 0 auto;
  color: #555555;
}
.wpps_bar .wpps_mobile_icon.header_temp * {
  color: #555555;
  width: 25px !important;
  height: 25px !important;
}
.wpps_header_container {
  width: calc( 100% - 0px - 0px - 2px );
  margin: 0px 0px 10px 0px;
  float: none;
  border: 1px solid #cdcdcd !important;
  border-radius: 4px 4px 4px 4px !important;
  -moz-border-radius: 4px 4px 4px 4px !important;
  -webkit-border-radius: 4px 4px 4px 4px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.wpps_header_container.wpps_container_active {
  border-color: #febd69 !important;
}
.wpps_header_container .wpps_nav_scope {
  background-color: #f3f3f3;
  border-left: none;
  border-right: 1px solid #cdcdcd !important;
}
.wpps_header_container .wpps_nav_scope .wpps_nav_facade_label {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #777777 !important;
}
.wpps_header_container .wpps_nav_scope .wpps_nav_down_icon {
  font-size: 12px;
  color: #555555;
}
.wpps_header_container .wpps_nav_scope .wpps_nav_down_icon * {
  color: #555555;
}
.wpps_header_container .wpps_nav_submit {
  background-color: #febd69;
  border-right: none;
  border-left: none !important;
}
.wpps_header_container .wpps_nav_submit:hover {
  background-color: #f3a847;
}
.wpps_header_container .wpps_nav_submit:hover .wpps_nav_submit_icon,
.wpps_header_container .wpps_nav_submit:hover .wpps_nav_submit_icon * {
  color: #ffffff;
}
.wpps_header_container .wpps_nav_submit .wpps_nav_submit_icon {
  color: #555555;
}
.wpps_header_container .wpps_nav_submit .wpps_nav_submit_icon svg {
  width: 16px;
  height: 16px;
}
.wpps_header_container .wpps_nav_submit .wpps_nav_submit_icon * {
  color: #555555;
}
.wpps_header_container .wpps_nav_field {
  background-color: #ffffff !important;
}
.wpps_header_container .wpps_nav_field .wpps_search_keyword {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #111111 !important;
  padding: 6px 10px !important;
}
.wpps_header_container .wpps_nav_field .wpps_searching_icon {
  width: 16px;
  fill: #555555;
}
.wpps_header_container .wpps_nav_field svg.wpps_searching_icon * {
  color: #555555;
}
.wpps_container.wpps_header_container .wpps_nav_left,
.wpps_container.wpps_header_container .wpps_nav_right,
.wpps_container.wpps_header_container .wpps_nav_fill,
.wpps_container.wpps_header_container .wpps_nav_scope,
.wpps_container.wpps_header_container .wpps_nav_submit,
.wpps_container.wpps_header_container .wpps_nav_field,
.wpps_container.wpps_header_container .wpps_search_keyword {
  height: 35px !important;
}
.wpps_container.wpps_header_container .wpps_nav_facade_label,
.wpps_container.wpps_header_container .wpps_nav_down_icon,
.wpps_container.wpps_header_container .wpps_category_selector,
.wpps_container.wpps_header_container .wpps_nav_submit_icon,
.wpps_container.wpps_header_container .wpps_searching_icon {
  line-height: 35px !important;
}
.predictive_results.predictive_results_header {
  border: 1px solid #c2c2c2 !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
.predictive_results.predictive_results_header .ajax_search_content_title {
  padding: 3px 10px;
  background-color: #f2f2f2;
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
  border-bottom: none !important;
}
.predictive_results.predictive_results_header .ajax_search_content {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-bottom: none !important;
}
.predictive_results.predictive_results_header .result_row {
  margin-top: 6px;
  margin-bottom: 6px;
}
.predictive_results.predictive_results_header .rs_avatar {
  width: 64px;
}
.predictive_results.predictive_results_header .rs_content_popup {
  width: calc( 100% - 74px ) !important;
}
.predictive_results.predictive_results_header .rs_content_popup .rs_name {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #3b5998 !important;
}
.predictive_results.predictive_results_header .rs_content_popup .rs_description {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.predictive_results.predictive_results_header .rs_content_popup .rs_cat,
.predictive_results.predictive_results_header .rs_content_popup .rs_cat > a {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.predictive_results.predictive_results_header .rs_content_popup .rs_cat {
  color: #000000 !important;
}
.predictive_results.predictive_results_header .more_result {
  padding: 3px 10px;
  background-color: #f2f2f2;
}
.predictive_results.predictive_results_header .more_result span {
  font: bold 10px/1.4em Arial, sans-serif !important;
  color: #999999 !important;
}
.predictive_results.predictive_results_header .more_result a {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #3b5998 !important;
}
.predictive_results.predictive_results_header .more_result .see_more_arrow {
  color: #3b5998 !important;
}
.predictive_results.predictive_results_header .more_result .see_more_arrow svg {
  width: 12px !important;
  height: 12px !important;
}
.predictive_results.predictive_results_header .ac_over .ajax_search_content {
  background-color: #6d84b4;
  border-color: #6d84b4 !important;
}
.predictive_results.predictive_results_header .ac_over .rs_name {
  color: #ffffff !important;
}
.predictive_results.predictive_results_header .ac_over .rs_description {
  color: #ffffff !important;
}
.predictive_results.predictive_results_header .ac_over .rs_cat {
  color: #ffffff !important;
}
.predictive_results.predictive_results_header .ac_over .rs_cat > a {
  color: #ffffff !important;
}
.predictive_results.predictive_results_header .ps_close {
  width: 20px;
  height: 20px;
  margin: 2px 10px 2px 0px;
}
.predictive_results.predictive_results_header .ps_close svg {
  fill: #ff0606;
}
@media only screen and (max-width: 420px) {
  .wpps_header_container {
    width: calc( 100% - 10px - 10px - 2px );
    margin: 10px 10px 10px 10px;
  }
}
#ps_items_container.ps_grid_container {
  column-gap: 20px;
  row-gap: 20px;
}
#ps_items_container.ps_grid_container .rs_result_row {
  width: calc( 33.3% - 20px );
  border: 1px solid #ddd !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  box-shadow: 0px 1px 5px 2px #dddddd !important;
  -moz-box-shadow: 0px 1px 5px 2px #dddddd !important;
  -webkit-box-shadow: 0px 1px 5px 2px #dddddd !important;
}
#ps_items_container:not(.ps_grid_container) .rs_rs_avatar {
  width: 64px;
}
#ps_items_container:not(.ps_grid_container) .rs_content {
  margin-left: 74px;
}
#ps_items_container:not(.ps_grid_container) .rs_result_row {
  border-bottom: 1px solid #c2c2c2 !important;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#ps_items_container .rs_result_row {
  background-color: #ffffff;
}
#ps_items_container .rs_content {
  padding: 10px 10px 10px 10px;
}
#ps_items_container .rs_rs_name {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #0000ff !important;
  text-align: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
#ps_items_container .rs_rs_name:hover {
  color: #0000ff;
}
#ps_items_container .rs_rs_description {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
  text-align: none;
  margin-top: 0px;
  margin-bottom: 10px;
}
#ps_items_container .rs_rs_meta {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
  text-align: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
#ps_items_container .rs_rs_meta a,
#ps_items_container .rs_rs_meta span {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #0000ff !important;
}
#ps_items_container .rs_rs_meta a:hover {
  color: #0000ff;
}
